@{
    ViewBag.Title = "DIProject";
}

<input type="hidden" id="type" value="@ViewBag.type" />

<form action="" method="post" enctype="multipart/form-data">
    <input type="file" name="file" id="file" />
    <input type="button" name="submit" id="upload" value="Załaduj" />
</form>

<div class="imageHolder">
    <img id="img" alt="Nie wybrano pliku" />
    <hr/>
    <br/>

    <label for="currentHeight">Wysokość</label>
    <p id="currentHeight">-</p>
    <label for="currentWidth">Szerokość</label>
    <p id="currentWidth">-</p>
</div>
<hr />

<div class="tools">
    <input type="button" name="invert" id="invert" value="Odwróć kolory" />
    <input type="button" name="grayscale" id="grayscale" value="Skala szarości" />
    <input type="button" name="edges" id="edges" value="Wykryj krawędzie" />
    <input type="button" name="blur" id="blur" value="Rozmycie gaussowskie" />
    <input type="button" name="hist" id="hist" value="Wyrównanie histogramu" />
    <br />
    <label for="brightness">Jasność</label>
    <input type="range" name="brightness" id="brightness" min="-255" max="255" step="15" />

    <br />
    <label for="contrast">Kontrast</label>
    <input type="range" name="contrast" id="contrast" min="-100" max="100" step="10" />

    <button id="Rotate90FlipNone" class="rotate">Obrót w prawo</button>
    <button id="Rotate270FlipNone" class="rotate">Obrót w lewo</button>
    <button id="Rotate180FlipNone" class="rotate">Obrót o 180 stopni</button>
    <button id="flip" class="rotate">Odbicie lustrzane</button>

    <div name="resize">


        <input type="number" min="1" name="width" id="width" placeholder="szerokość" />
        <input type="number" min="1" name="height" id="height" placeholder="wysokość" />
        <input type="button" id="resizeButton" value="Zmień rozmiar" />
    </div>
</div>

<h1><time>00:00:00.000</time></h1>

