@{
    ViewBag.Title = "Home Page";
}

<form action="" method="post" enctype="multipart/form-data">
    <input type="file" name="file" id="file" />
    <input type="button" name="submit" id="upload" value="Załaduj" />
</form>

<div class="imageHolder">
    <img id="img" alt="Nie wybrano pliku"/>
    <input type="button" name="invert" id="invert" value="Odwróć kolory"/>
    <input type="button" name="grayscale" id="grayscale" value="Skala szarości"/>
    
    <label for="brightness">Jasność</label>
    <input type="range" name="brightness" id="brightness" min="-255" max="255" step="15"/>
</div>