@{
    ViewBag.Title = "Home Page";
}

<form action="" method="post" enctype="multipart/form-data">
    <input type="file" name="file" id="file" />
    <input type="button" name="submit" id="upload" value="Submit" />
</form>

<div id="imageHolder">
    <img id="img"/>
</div>